@charset "UTF-8";
/*!
	登录注册相关
*/
.pos-tools {
  width: 400px;
  float: right;
}
.pos-tools .form-group {
  width: 250px;
  margin-bottom: 0;
  margin-right: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.pos-tools .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.pos-tools .form-control-feedback {
  cursor: poiter;
}

.org-content {
  position: relative;
  margin: 0 20px;
  height: 100%;
  min-height: 500px;
}

.org-fixed {
  padding-left: 285px;
}

.org-fixed-btn {
  padding: 9px 10px;
  position: absolute;
  top: 22px;
  right: 15px;
  cursor: pointer;
}

.org-fixed-btn > i {
  font-size: 14px;
  color: #ccc;
}

.org-fixed-btn:hover > i {
  color: #999;
}

.org-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  min-height: 520px;
  border: 2px solid #f2f2f2;
  background-color: #fff;
  overflow: hidden;
}
.org-sidebar .pos-tit {
  padding: 30px 20px;
  width: 100%;
  cursor: pointer;
}

.org-container .pos-tit {
  cursor: pointer;
}

.org-main {
  height: 100%;
  min-height: 600px;
}

.org-fixed .org-content {
  margin-left: 0;
}

.org-fixed .org-fixed-btn > i {
  color: #999;
  transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  /* IE 9 */
  -moz-transform: rotate(35deg);
  /* Firefox */
  -webkit-transform: rotate(35deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(35deg);
  /* Opera */
}

.org-fixed .position .pos-tit {
  display: none;
}

.tree-pop {
  padding: 10px 20px;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 99;
  width: 100%;
  background: #fff;
  border: 1px solid #f5f5f5;
  border-top-color: #ccc;
}

.tree-pop-tit > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-right: 10px;
}

.tree-pop-tit > li > a, .tree-pop-tit > li > span {
  display: block;
  padding: 10px 0;
  font-size: 14px;
}

.tree-pop-tit > li.active > a, .tree-pop-tit > li.active > span {
  color: #367cb9;
  text-decoration: none;
}

.tree-pop-tit > li.active > a:hover {
  text-decoration: none;
}

.pop-user-create .spop-tit i.fa {
  color: #009DDC;
  font-size: 20px;
}

.form-user-edit {
  display: none;
}

.form-user-create, .form-user-edit {
  padding: 10px 30px;
  padding-top: 80px;
  width: 600px;
  position: relative;
}
.pop-role-create .form-user-create, .pop-role-edit .form-user-create {
  padding-top: 10px;
}

.user-create-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 38px;
}

.head-img {
  position: absolute;
  top: 0;
  left: 15px;
}

.head-img a {
  width: 148px;
  height: 148px;
  border: 1px solid #ccc;
  box-sizing: "content-box";
  display: block;
}

.head-img img {
  width: 148px;
  height: 148px;
}

.head-tools {
  margin-left: 166px;
  min-height: 150px;
  line-height: 180%;
  color: #999;
}

.head-tools .btn {
  margin-top: 75px;
}

.form-user-view {
  padding: 30px;
  width: 600px;
}

.form-user-view .head-img a, .form-user-view .head-img span {
  width: 100px;
  height: 100px;
}

.form-user-view .head-tools {
  margin-left: 120px;
  min-height: 120px;
  position: relative;
}

.form-user-view .head-tools h3 {
  line-height: 150%;
}

.form-user-view .form-horizontal label {
  color: #999;
  font-size: 12px;
}

.res-main {
  min-height: 600px;
}

.res-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  border-right: 1px solid #f5f5f5;
  padding: 10px 0;
}

.res-tab > li {
  margin-top: -1px;
  margin-right: -1px;
}

.res-tab > li > a {
  display: block;
  border: 1px solid #f5f5f5;
  padding: 15px;
  font-size: 14px;
}

.res-tab > li.active > a {
  color: #367cb9;
}

.res-tab > li.active > a:hover {
  text-decoration: none;
}

.res-tab-content {
  margin-left: 220px;
  padding: 20px;
  min-width: 800px;
}

.input-group-a {
  width: 600px;
}

.input-groups-2 {
  width: 810px;
}

.input-group-a .form-control:first-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-group-a .input-group-addon {
  border: none;
  background: transparent;
  vertical-align: top;
}
.input-group-a .input-group-addon i {
  font-size: 20px;
  color: #009DDC;
}
#blackListWrap .input-group-a .input-group-addon i.fa-arrows{
  display: none!important;
}

.input-colorpicker-wrap {
  padding: 0;
}

.input-group-a .input-colorpicker {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  height: 34px;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 10px 0 5px;
}
.input-group-a .input-colorpicker i {
  display: block;
  font-size: 12px;
  font-style: normal;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

label.input-group-addon {
  color: #999;
}

.form-inline .input-group-a {
  width: 350px;
}

.form-inline .input-group-a > .form-control {
  width: 220px;
}

.emailAddTempForm-wrap, .tempform-wrap {
  position: relative;
}

.ueditor-upload {
  display: block;
  position: absolute;
  top: 85px;
  left: 90px;
  cursor: pointer;
}

.ueditor-upload:hover {
  color: #23527c;
  text-decoration: underline;
}

.addtemp-name .form-control {
  width: 450px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-right: 10px;
}

.addtemp-name label.error {
  padding-top: 0;
}

.temp-insert-warp {
  padding: 10px 20px;
}

.mytree {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #F5F5F5;
}
.mytree .mytree-item {
  border-top: 1px solid #F5F5F5;
}
.mytree .mytree-switch {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding: 10px 5px;
}
.mytree .mytree-link > i {
  background-image: url(../images/icon_tree_custom.png);
  background-repeat: no-repeat;
  background-position: -108px 0;
}
.mytree .level0 > .mytree-link > i {
  background-position: 0 0;
}
.mytree .mytree-level-leaf .mytree-link > i {
  background-position: -37px -36px;
}
.mytree .mytree-link {
  display: block;
  position: relative;
  padding: 10px 0;
  width: 100%;
  font-size: 14px;
}
.mytree .mytree-link > b {
  margin-left: 3px;
  font-size: 14px;
}
.mytree .mytree-link > b > em {
  font-style: normal;
  font-size: 14px;
  margin: 0 2px;
}
.mytree .mytree-link > i {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-right: 6px;
  width: 16px;
  height: 16px;
}
.mytree .mytree-tools {
  display: none;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 9;
}
.mytree .mytree-tools .mytree-add, .mytree .mytree-tools .mytree-edit, .mytree .mytree-tools .mytree-del, .mytree .mytree-tools .mytree-pop-close {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding: 3px;
  font-size: 14px;
}
.mytree .mytree-tools .mytree-add:hover, .mytree .mytree-tools .mytree-edit:hover, .mytree .mytree-tools .mytree-del:hover, .mytree .mytree-tools .mytree-pop-close:hover {
  color: #367cb9;
}
.mytree .mytree-link:hover, .mytree .mytree-link.active {
  text-decoration: none;
  color: #367cb9;
}
.mytree .mytree-link:hover .mytree-tools, .mytree .mytree-item.on > .mytree-link > .mytree-tools {
  color: #333;
  display: block;
}
.mytree .mytree-switch {
  position: relative;
  margin-left: 20px;
  font-size: 16px;
  width: 17px;
  height: 33px;
  color: #009DDC;
}
.mytree .level1 .mytree-switch {
  margin-left: 40px;
}
.mytree .level2 .mytree-switch {
  margin-left: 60px;
}
.mytree .level3 .mytree-switch {
  margin-left: 80px;
}
.mytree .level-leaf .mytree-switch {
  margin-left: 44px;
}
.mytree .level-leaf .mytree-link {
  padding: 15px 0;
  background-color: #F5F5F5;
}

.mytree-drop .mytree-wrap {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9;
  width: 100%;
  border: 1px solid #eee;
  background: #fff;
}
.mytree-drop .mytree .mytree-link:hover .mytree-tools, .mytree-drop .mytree .mytree-item.on > .mytree-link > .mytree-tools {
  display: none;
}
.mytree-drop label.error {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 8;
}
.form-role-devide{ padding: 10px 20px; }
.editrole-box, .editrole-btn{ width: 300px; float: left; margin-right: 20px; }
.editrole-btn{ width: 40px; padding-top: 160px; }
.editrole-title{ padding: 10px 20px; background-color: #ccc; color: #fff; }
.editrole-body{ height: 400px; border: 1px solid #ddd; }
.editrole-list > li{ padding: 10px 20px; cursor: pointer; }
.editrole-list > li:hover{ background-color: #f7f7f7; }
