#tem-set{
    display: none;
}
.table{
    margin-bottom: 0;
    margin-top: 8px;
}
#sendEditor{
    margin-top: 20px;
}
.content{
    display: none;
}
.resource-input{
    margin-bottom: 5px;
}
.first,
.sencond,
.third,
.fours,
.submitBtn{
    width: 80%;
}
.first select{
    width: 48%;
    margin:10px 0;
    padding: 8px;
    border-color: #ddd;
    color: #999;
    border-radius: 3px;
}
.third select{
    width: 96%;
    margin:10px 0;
    padding: 8px;
    border-color: #ddd;
    color: #999;
    border-radius: 3px;
}
.circleLabel{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #999;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
h5{
    font-size: 12px;
    /*margin-bottom: 10px;*/
    margin-top: 10px;
}
.sencond .btn,
.fours .btn{
    margin:10px 0;
}
.submitBtn{
    margin-top: 20px;
}
.pdtHis{
    margin-top: 20px;
}
.table{
    width: 77%;
    /*margin-bottom:100px;*/
}
