.form-horizontal .control-label {
	font-size: 12px;
}
.form-control:focus{
	border-color:#c4c4c4;
}
.form-control{
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
	border-radius: 2px;
	border-color:#ddd;
}
.col-xs-2{
	width:98px;
}
.text-right{
	text-align:right !important;
}
.customerList{
	display:none;
	padding:6px;
	border:1px solid #ddd;
	width:100%;
	max-height: 300px;
	overflow-y: auto;
	box-shadow: 0 0 5px #ccc;
}
.customerLi{
    padding:6px;
    cursor: default;
}
.customerLi:hover{
    background-color: #4b73ec;
    color:#fff;
}
#customerInput{
	padding-top: 8px;
}
.customerSearch{
	width: 100%;
    padding: 6px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
    width: 100%;
}
#customerShow{
	width:775px;
	height:554px;
	border:1px solid #ccc;
	border-radius:5px;
}
#customerShow .top_show{
	border-bottom:1px solid #ccc;
	height:60px;
}
#customerShow .top_show h1{
	padding:20px;
	display:inline-block;
}
#customerShow .top_show span{
	float:right;
	font-size:18px;
	padding:20px;
	color:#ccc;
	width:50px;
	height:50px;
	cursor:pointer;
	font-weight:bold;
}
#customerShow #cus_group{
	width:20%;
	height:36px;
	margin-left:20px;
}
#customerShow .contacts_con{
	width:734px;
	height:276px;
	border:1px solid #ccc;
	margin:10px auto;
}
#customerShow .contacts_con .recent_con{
	border-bottom:1px solid #ccc;
	width:96%;
	margin:0 auto;
	line-height:36px;
}
#customerShow h3{
	padding-top:20px;
	padding-bottom:10px;
	margin-left:20px;
	font-size:14px;
	font-weight:bold;
}
#customerShow .bottom_show{
	height:60px;
	border-top:1px solid #ccc;
	margin-top:25px;
}
#customerShow .bottom_show .btn_con{
	float:right;
	padding:20px;
}
#customerShow .bottom_show span{
	color:#4B73EC;
	font-size:14px;
	padding:20px;
}
#customerShow .bottom_show button{
    width:100px;
	height:35px;
}
#customerShow .time_hide{
	margin-left:83px;
}