body{
	background:#f5f5f7;
}
.letter-detail{
	width: 910px;
}
.page_info{
	position: relative;
}
.ashen{
	color: #666;
}
#stepOne .step:first-child{
	border-top: 1px solid #e8e8e8;
}
.step{
	float: left;
	background: #f8f8f8;
	cursor: pointer;
	width: 100%;
	padding: 4px 20px;
	border-bottom: 1px solid #e8e8e8;
}
.email-detail, .letter-detail{
	padding: 0;
}
.stepRight{
	position: relative;
	padding:8px 0;
	width:758px;
	min-height: 60px;
}
.stepCont{
	padding:8px 0;
	width:790px;
	min-height: 100px;
	display: none;
}
.stepCont2{
	padding:8px;
	border:1px solid #eee;
	border-radius:5px;
	min-height: 100px;
	cursor: text;
}
.stepP{
	padding-bottom: 8px;
}
.stepTitle{
	line-height: 48px;
}
.step3-cont{
	width: 49%;
}
.step3-p{
	padding: 8px;
	background: #f0f0f0;
}
.inputEmail{
	padding: 6px; 
	width: 300px;
	border:none;
}
.step-ul li{
	margin:4px 0;
	display:inline-block;
	line-height: 30px;
	width: 100%;
}
.step-ul select{
	width: 280px;
	padding: 6px;
	margin-left:10px;
	border-radius: 5px;
	border: 1px solid #e9e9e9;
}
.step-ul select:focus{
	border: 1px solid #c4c4c4;
}
.step-ul label{
	float: left;
	line-height:30px;
	width: 60px;
	text-align: right;
}
.step-ul .inputText{
	padding: 6px;
    border-radius: 2px;
    border: 1px solid #e9e9e9;
    width: 280px;
    margin-left: 10px;
}
.step-ul .inputText:focus{
	border: 1px solid #c4c4c4;
}
.step-ul-inline{
	margin-left: 10px;
}
.step-ul-inline li:first-child{
	margin-left: 10px;
}
.step-ul-inline li{
	float: left;
	width: 48px;
	margin:0;
}
.step-ul-inline li .checker{
	margin-right: 0;
}
.i-emailClose{
	display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/new-icon.png) no-repeat -317px 2px;
    cursor: pointer;
}
.i-role-manage{
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	margin-bottom: -10px;
	background:url(../images/role-manage.png) no-repeat 0px 3px;
}
.s-customer{
    background-position: -27px -110px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/updown.png);
}
.emailAccount{
	border:1px solid #ccc;
	border-radius:25px;
	padding:5px 10px;
	display: inline-block;
	margin:0 6px 5px;
	position: relative;
}
.emailLabel{
	display: inline-block;
    float: left;
    height: 16px;
    line-height: 16px;
    margin-bottom: -6px;
    margin-left: 6px;
    margin-right: 6px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.stepLeft{
	width: 100px;
	padding: 8px 0;
}
.stepLeft1{
	background-image: url(../images/devlogo1.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	display: inline-block;
	background-position: 0px 5px;
}
.stepLeft21{
	background-image: url(../images/devstep21.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	display: inline-block;
	background-position: 0px 5px;
}
.stepLeft22{
	background-image: url(../images/devstep22.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	display: inline-block;
}
.stepLeft11{
	background-position: 0 0;
}
.stepLeft12{
	background-position: 0 -86px;
}
.stepLeft13{
	background-position: 0 -240px;
}
.stepLeft14{
	background-position: 0 -320px;
}
.stepLeft3{
	background-image: url(../images/devlogo3.png);
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
	display: inline-block;
	border-bottom: 1px solid #ddd;
}
.stepLeft3 span{
	display: inline-block;
    width: 100%;
    margin-top: 70px;
    text-align: center;
}
.stepLeft31{
	background-position: 25px 15px;
}
.stepLeft32{
	background-position: 25px -100px;
}
.stepLeft33{
	background-position: 25px -200px;
	border-top: 1px solid #ddd;
}
.stepLeft34{
	background-position: 25px -305px;
}
.step3title{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}
.bkColor{
	background: #ffffff;
}
.stepShow{
	margin:10px auto;
}
#stepTwo,
#stepThree,
#stepFour{
	display: none;
}
#stepTwo .stepRight,
#stepTwo .stepCont,
#stepThree .stepCont{
	display: inline-block;
}
#stepTwo .stepCont{
	min-height: auto;
}
.inputTheme{
	width: 88%;
	padding: 8px;
	margin-bottom: 8px;
	border: 1px solid #eee;
	border-radius: 2px;
}
.spanTheme{
	width: 10%;
	display:inline-block;
}
.inputTheme:first-child{
	width: 98%;
}
.inputTheme:focus{
	border: 1px solid #c4c4c4;
}
.custModels{
	width: 100%;
	background: #fff;
    cursor: default;
    padding:10px 30px;
}
.custModels ul{
	cursor: default;
}
._white{
	background-color: #fff;
}
.custModels p{
	width: 100%;
	display:inline-block;
}
.custModels a{
    display: inline-block;
    float: left;
    padding: 8px;
    text-align: center;
}
.custModels a.active{
	color: #4b73ec;
	text-decoration:none;
	margin-bottom: -1px;
	border-bottom: 1px solid #4b73ec;
}
.blue{
	color: #4b73ec;
}
#stepFour h3{
	margin:20px 0;
}
#stepFour p{
	margin:10px 0;
}
#stepFour img{
	margin:50px 0;
}
.page_img{
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
	background: url(../images/banner-kfx.jpg) no-repeat;
}
.page_img img{
	position: absolute;
    margin-top: 100px;
    left: 50%;
    margin-left: -438px;
}
.page_img p{
	display: inline-block;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    left: 50%;
    position: absolute;
    margin-left: -120px;
    margin-top: 30px;
}
.page_img .imgBtn{
	width: 220px;
    height: 50px;
    border-radius: 25px;
    background: #fff;
    color: #6287f8;
    font-size: 16px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 120px rgba(225,255,255,.3);
    position: absolute;
    left: 50%;
    margin-left:-110px;
    margin-top:220px;
    text-align: center;
    line-height: 50px;
}
.radio input[type=radio]{
	margin-left: -10px;
}
#tags{
	width: 280px;
    padding: 6px;
    min-height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
	margin-left: 70px;
}
#tagsUl{
	display: none;
	position: absolute;
    margin-left: 70px;
    width: 280px;
	max-height:285px;
	overflow-y:scroll;
    border: 1px solid #ccc;
    z-index: 999;
    background: #fff;
    padding-left: 8px;
}
.add-model{
	max-height: 360px;
	overflow-y:auto;
	border: 1px solid #ddd;
	padding:0 10px;
}
.add-model li{
	padding: 8px 15px;
	border-bottom: 1px solid #ddd;
}
.add-model li:last-child{
	border: none;
}
.letter-statistics{
	background: #f5f5f7;
	padding: 20px 0;
	margin-bottom: 20px;
	padding-left:20px;
}
.letter-statistics .every_con{
	width:155px;
	height:116px;
	margin-right:20px;
	/*box-shadow: 0 5px 5px #ddd;*/
}
.con_icon{
	display:inline-block;
	width:155px;
	height:30px;
	margin-left:-18px;
	margin-top:10px;
}
 .con_icon:nth-child(5){
	margin-right:0;
}
.con_icon div{
	display:none;
	width: 30px;
	height: 100%;
	margin:0 auto;
	margin-top:11px;
	margin-left:67px;
}
.letter-statistics .every_con:nth-child(1){
	border-top:2px solid #6289FF;
}
.letter-statistics .every_con:nth-child(2){
	border-top:2px solid #35C274;
}
.letter-statistics .every_con:nth-child(3){
	border-top:2px solid #35B0C2;
}
.letter-statistics .every_con:nth-child(4){
	border-top:2px solid #FFAB17;
}
.letter-statistics .every_con:nth-child(5){
	border-top:2px solid #FF586C;
}
.statisticsLeft{
	height: 60px;
	line-height: 60px;
	float: left;
	width: 120px;
	text-align:center;
}
#totalEmail,
#sendEmail,
#openEmail,
#backEmail{
	width: 870px;
	display: inline-block;
	position: relative;
}
#totalEmail{
	z-index: 10;
}
#sendEmail{
	z-index: 8;
}
#openEmail{
	z-index: 6;
}
.ledgement{
	float: left;
	height: 60px;
	padding-left: 30px;
	line-height: 60px;
	color: #fff;
	width: 750px;
	display: none;
}
#totalEmail .ledgement{
	background: #7c9bda;
}
#sendEmail .ledgement{
	background: #df7968;
}
#openEmail .ledgement{
	background: #746f9f;
}
#backEmail .ledgement{
	background: #5d97a5;
}
#sendEmail .ledgementNo,
#openEmail .ledgementNo,
#backEmail .ledgementNo{
	background: #878e9b;
	margin-left: 5px;
	padding-left: 0;
	text-align: center;
}
#sendEmail .ledgementNo{
	position: absolute;
	right: 0;
	height: 183px;
	line-height: 183px;
}
#openEmail .ledgementNo{
	position: absolute;
	height: 122px;
	line-height: 122px;
}
.letter-title{
	width: 893px;
	float: left;
	background:#fff;
	border-bottom: 2px solid #e1e1e1;
    padding: 7px 0;
	box-shadow: 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 2px #ddd;
}
.letter-title img{
	margin-left: 35px;
	margin-top:7px;
}
.letter-title button{
	margin-top: 10px;
	margin-right: 32px;
	float: right;
}
#letterTitle{
    line-height: 26px;
	padding: 5px 0 1px;
}
.contUl{
	display: inline-block;
}
.contUl li{
	float: left;
	width: 130px;
	padding: 11px 20px;
	height: 50px;
	cursor: pointer;
	background:#fff;
	box-shadow: 0 2px 2px #ddd;
}
.tableCont{
	width: 870px;
	background: #f5f5f7;
	margin-bottom: 50px;
}
.tableContUl{
	width: 870px;
	margin-left:20px;
	margin-bottom: 20px;
}
.tableContUl li{
	width: 98%;
	margin-top:-2px;
	display: inline-block;
	position: relative;
	background:#fff;
}
.tableContUl li:last-child .tableContUl-span{
	border: 0;
}
.liTags{
	width: 815px;
	float: right;
	border-bottom:1px solid #F4F4F4;
    border-radius: 2px;
	margin-top:10px;
}
.liTitle{
	display: inline-block;
    padding: 5px 0;
    /*border-bottom: 1px solid #e6e6e6;*/
    width: 100%;
}
.liTime{
	float:right;
	margin-right:15px;
	font-size:14px;
	color:#9A9A9A;
}
.liMain{
	padding: 10px 0;
}
.liMain p{
	line-height: 20px;
}
.addContacts{
	display: inline-block;
	float: right;
}
.title_con{
	width:854px;
	margin-left:19px;
	height:45px;
	margin-bottom:2px;
	background:#fff;
	font-weight:bold;
	margin-top:-16px;
	border-bottom:1px solid #ddd;
}
.title_con div{
	height:100%;
	line-height:45px;
}
.title_con div:nth-child(1){
	float:left;
	margin-left:15px;
}
.title_con div:nth-child(2){
	float:left;
	margin-left:478px;
}
.title_con div:nth-child(3){
	float:right;
	margin-right:15px;
}
.contUl li.active{
	color: #fff;
}
.tableContUl-img{
	position: absolute;
	width: 20px;
	margin-left: -26px;
}
.submir-btn{
	margin:20px;
	margin-top:-23px;
	background:#f5f5f7;
}
.liStaus{
	margin-left:5px;
	font-weight:bold;
	font-size:13px;
}
.liEmailLabel{
	margin-left:5px;
	display:inline-block;
	width:488px;
}
.liEmail{
	color:#4b73ec;
	cursor: pointer;
	display:inline-block;
	width:570px;
}
.li_TraceLocation{
	display: inline-block;
	width:77px;
	text-align: left;
	color:#333;
}
.liMain_con{
	display:inline-block;
	width:624px;
	height:12px;
	margin-left:10px;
	line-height:14px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#letterContent{
	display: none;
}
.none{
	display: none;
}
.fujian,
.letter-detail .fujian{
	border: none;
}
.fujian a{
	margin-left: 15px;
}
#fujian{
	/*border-top:1px solid #e6e6e6;*/
	border-bottom:1px solid #e6e6e6;
	padding:20px;
	margin-left:20px;
}
.i-left{
	display: inline-block;
	width: 24px;
	height: 22px;
	border-radius: 50%;
	margin-bottom: 20px;
	background:url(../images/new/return.png) no-repeat 0;
	cursor:pointer;
}
.circleDown{
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-bottom: -8px;
	background:url(../images/letterDown.png) no-repeat 0;
	position: absolute;
    right: -50px;
    margin-top: 15px;
}
.liOpen{
	font-size:13px;
	margin-top:10px;
	display:none;
	font-weight:bold;
}
.liReply{
	margin-top:10px;
	display:none;
	font-size:13px;
	font-weight:bold;
}
.liReply span{
	/*margin-right:10px;*/

}
.circleUp{
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-bottom: -8px;
	background:url(../images/letterUp.png) no-repeat 0;
	position: absolute;
    right: -50px;
    margin-top: -5px
}
.letterDown{
	float: right;
	margin-right:-10px;
}
#noHighSeasUl,
#highSeasUl{
	padding-left: 8px;
	background: #f9f9f9;
}
#noHighSeasUl li,
#highSeasUl li,
#tagsUl li{
	position: relative;
	cursor: default;
	height:12px;
}
#highSeasUl li input,
#noHighSeasUl li input,
#tagsUl li input{
	position: absolute;
	margin-top: 8px;
}
#highSeasUl li label,
#noHighSeasUl li label,
#tagsUl li label{
	margin-left: 16px;
	line-height: 30px;
}
#tagsUl li label{
	width: 235px;
	overflow:hidden;
	text-align: left;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.email_total{width:5%;}
#secondLetter{
	display: none;
}
#sortsTime{
	text-align: right;
	cursor: pointer;
	width:8%;
}#send-rate,
#open-num{
	cursor:pointer;
}
#sortsTime::selection{
	background: none;
}
.s-reorderList {
    background-position: -93px -58px;
    display: inline-block;
    width: 7px;
    height: 10px;
}
.s-orderList {
    background-position: -85px -58px;
    display: inline-block;
    width: 7px;
    height: 10px;
}
.page-title .page-title2{
	right: 46px;
}
.letter-detail .nextBtn{
	margin-top: 20px;
    height: 40px;
    width: 152px;
    font-size: 14px;
}
.nextBtn{
	margin-top: 20px;
    height: 40px;
    width: 152px;
    font-size: 14px;
}
.page_info > #tableSort > tbody > tr > td{
	padding:8px 8px 6px;
}
.selectedNum{
	display:none;
}
#highSeas{
	display: inline-block;
	background: #f9f9f9;
}
.sender-condition-style{
	display: none;
    width: 270px;
    position: absolute;
    top: 20px;
    z-index: 99;
}
.sender-condition-style ul{
    margin-left: 0px;
}
.sender-condition-style ul li{
    float: left;
    margin-left: 0px;
    margin-top: 10px;
}
.sender-condition {
    padding: 17px 21px;
    width: 270px;
    background: #cfdeff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #dfe4ee;
    -moz-box-shadow: 0 0 10px #dfe4ee;
    box-shadow: 0 0 10px #dfe4ee;
    position: relative;
}
.condition-cz-btn {
    /* width: 216px; */
    margin-left: -108px;
    position: absolute;
    bottom: -10px;
    left: 50%;
}
.condition-cz-btn .btn {
    font-size: 12px;
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 0 10px #dfe4ee;
    -moz-box-shadow: 0 0 10px #dfe4ee;
    box-shadow: 0 0 10px #dfe4ee;
}
.sender-condition .btn-block {
    border-radius: 16px;
    width: 216px;
    margin: 20px auto;
}
.sender-condition-img>i, .sender-condition-img>span {
    vertical-align: middle;
}
.sender-condition-name {
    display: inline-block;
    font-size: 17px;
    line-height: 18px;
    max-width: 204px;
    position: relative;
    top: 3px;
}
.sender-condition-img, .company-info, .belong-yewuy {
    text-align: center;
}
.step-ul .tagsRadiosLabel{
	float: inherit; 
    width: initial; 
    text-align: right
}
.prompt{
	color:red;
	display: none;
}
.contTheme{
	display:none;
	width: 300px;
	height: 200px;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px #eee;
	cursor: default;
	position: absolute;
	z-index: 10;
	background:#fff;
	margin-top: 5px;
}
.contTheme p{
	padding:15px 0;
	display:inline-block;
	width: 90%;
	font-size: 14px;
	margin-left: 5%;
	border-bottom: 1px solid #ccc;
}
.contTheme ul{
	width: 90%;
	margin-left: 5%;
}
.contTheme ul li{
	margin:25px 0;
}
.contTheme ul li:first-child{
	margin: 15px 0 25px;
}
#btnTwo{
	position: relative;
}
#backStepTwo,
#backStepThree{
	color: #4b73ec;
	margin-right: 28px;
	display: inline-block;
	position: absolute;
    top: 40px;
    left: 31%;
}
.noneWhite{
	background: #fff;
	height: 100px;
	width: 2px;
	position: absolute;
	left: -2px
}
.file-del{
	color: #4b73ec;
	cursor: pointer;
}
#addFiles1 li,
#addFiles li{
	cursor: default;
}
#addFiles1{
	border:1px solid #ddd;
	border-bottom:none;
	display: none;
	cursor: default;
	background: #fff;
}
.fujian-excl-iocn {
    background-position: -302px 0px;
}
#submit{
	line-height: 30px;
}
.total_Email{
	display:inline-block;
	width:100%;
	height:30px;
	text-align: center;
	line-height:40px;
	font-size:24px;
}
.totalEmail .statisticsLeft{
	color:#7c9bda;
	font-size:18px;
}
#sendEmail .statisticsLeft{
	color:#df7968;
	font-size:18px;
}
#openEmail .statisticsLeft{
	color:#746f9f;
	font-size:18px;
}
#backEmail .statisticsLeft{
	color:#5d97a5;
	font-size:18px;
}
.contUl li span{
	display: block;
	margin-top:10px;
	text-align: center;
}
.contUl li .first{
	font-size:16px;
}
.contUl li span:first-child{
	margin-bottom: 9px;
}
.set-up{
	border-radius: 15px;
	font-size: 12px;
}
#letterContentBtn,
.submir-btn .set-up:last-child{
	border-radius: 2px;
}
#groupEmail,
#copyEmail,
#FilterEmail{
	font-weight: 600;
}
.letter-detail  .sender-info{
	background: #f4f5fc;
	/*box-shadow: 0 -2px 2px #ddd;*/
	margin-left:20px;
}
.sender-info .form-group label {
	color:#999;
	width: 60px;
	font-size: 12px;
}
.email-detail-main{
	padding: 20px; 
	margin:0;
}
.sale-letter {
	border: none;
}
.sale-letter-title{
	color: #3c3c3c;
	font-size: 20px;
	line-height:26px;
	display:inline-block;
	width:96%;

}
.sender-info .form-group input{
	width: 80%;
	font-size: 12px;
}
.sender-info-time{
	font-size: 12px;
}
#btnTwo,
#btnThree{
	padding-bottom: 20px;
}
#myModal{
	position: absolute;
}
#myModal .modal-dialog{
	margin: 150px auto;
}
#myModal .modal-body{
	padding: 0;
}