#email-binding,#setting{
	width: 910px;
	padding: 15px;
}
#setting,
#errorCont,
.errorEmail{
	display: none;
}
.inputName{
	width: 10%;
	padding: 8px;
	text-align: right;
}
.form-input{
	width: 85%;
	min-width:500px;
	padding: 8px;
	border-radius: 5px;
	border:1px solid #ccc;
}
.btn-setting{
	margin-top: 5px;
	margin-bottom:20px;
	padding-left: 18px;
}
.btn-setting .btn:first-child{
	margin-right: 10px;
}
.error,
.red{
	color: red;
}
.erroMes{
	margin-left:10%;
}
.erroMes p{
	font-size: 14px;
	margin-top:5px;
	margin-bottom:5px;
}
.erroMes a{
	color: #337ab7;
}
.ser-input{
	width: 302px;
	padding: 8px;
	border-radius: 5px;
	border:1px solid #ccc;
}
.i-left{
	display: inline-block;
	cursor: pointer;
width: 24px;
height: 22px;
border-radius: 50%;
margin-bottom: -8px;
background:url(../images/new/return.png) no-repeat 0;
}
select.form-input option{
padding: 3px;
}