#mainIframe{
	width: -webkit-calc(100% - 160px);
	width: -moz-calc(100% - 160px);
	width: calc(100% - 160px);
	margin-left: 160px;
}
.i-alertNew {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: url(../images/alert.png) no-repeat 0px 3px;
    position: absolute;
    right: 20px;
    top: 30px;
    float: right;
}
.main-setting{
    margin-top:3px;
}