.doc-handle {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #c6c6c6;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 2px;
}
.doc-handle:before {
    content: '';
    width: 0;
    height: 0;
    border-width: 3px;
    border-color: transparent;
    border-style: solid;
    border-top-color: #c6c6c6;
    border-top-width: 5px;
    position: absolute;
    top: 3px;
    left: 2px;
}
.doc-handle-cont {
    display: none;
    position: absolute;
    top: 19px;
    right: 0;
    padding: 7px 0;
    border: 1px solid #dedede;
    -webkit-box-shadow: 0 0 10px #dfe4ee;
    -moz-box-shadow: 0 0 10px #dfe4ee;
    box-shadow: 0 0 10px #dfe4ee;
    background: #fff;
    z-index: 4;
    border-radius: 3px;
}
.doc-handle-cont li {
    line-height: 27px;
    padding: 0 14px;
    color: #333;
}
.doc-handle-cont li:hover {
    color: #4b73ec;
    background-color: #f4f4f4;
}
.doc-img-local {
    display: inline-block;
    width: 17px;
    height: 16px;
    background: url("../images/ico-local1.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-right: 5px;
}
.doc-img-cloud {
    display: inline-block;
    width: 17px;
    height: 16px;
    background: url("../images/ico-cloud1.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-right: 5px;
}
/*选择资料*/
#customerdetail .leftcon,.rightcon{
    float:left;
    width:197px;
}
#customerdetail .leftcon{
    margin-left:68px;
    margin-right:23px;
}
#customerdetail .screen-body{
    height:380px;
    overflow-y:auto;
    background:#fff;
}
#customerdetail .leftcon .customer,.rightcon .customer{
    background:#E2E2E2;
    font-weight:bold;
    border-radius:3px;
    height:30px;
}
#customerdetail .leftcon .customer .customerName,.rightcon .customer .customerName{
    display: inline-block;
    width: 160px;
    height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 35px;
}
#customerdetail .leftcon li,.rightcon li{
    line-height: 34px;
    padding-left: 10px;
    background:#F7F7F7;
}
/*云文档文档树*/
.ztree li {
    margin: 6px 0;
}
.ztree li span.button{
    margin-right:2px;
    background-position:0;
    background: url(../images/new/filefile.png) no-repeat scroll 0 0 transparent;
    vertical-align:top;
    *vertical-align:middle
}
.ztree li span.button.ico_open,
.ztree li span.button.ico_close,
.ztree li span.button.ico_docu{
    background-position:0;
}
.ztree li span.button.root_open,
.ztree li span.button.center_open,
.ztree li span.button.bottom_open,
.ztree li span.button.center_close,
.ztree li span.button.root_close,
.ztree li span.button.bottom_close,
.ztree li span.button.roots_open,
.ztree li span.button.roots_close{
    margin-right:2px;
    background: url(../images/files-jiantou.png) no-repeat scroll 5px transparent;
    vertical-align:top;
    *vertical-align:middle
}
.ztree li span.button.center_close,
.ztree li span.button.root_close,
.ztree li span.button.bottom_close,
.ztree li span.button.roots_close{
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
}
.ztree li span.button.add,
.ztree li span.button.edit,
.ztree li span.button.remove{
    margin-right:2px;
    background: url(../images/icon_tree_custom.png) no-repeat scroll 0 0 transparent;
    vertical-align:top;
    *vertical-align:middle
}
.ztree li span.button.add{
    background-position: -38px 0;
}
.ztree li span.button.edit{
    background-position: -72px -1px
}
.ztree li span.button.remove{
    background-position: 0 -72px;
}
.ztree{
    max-height: 420px;
    overflow-y: auto;
}
.ztree li{
    margin:6px 0;
}
.ztree li span.button.add,
.ztree li span.button.edit,
.ztree li span.button.remove{
    display: none;
}
.ztree li span.button.pIcon_ico_docu{
    margin-right:2px;
    background: url(../images/new/fileemail.png) no-repeat scroll 0 0 transparent;
    vertical-align:top;
    *vertical-align:middle
}
.ztree li span.button.chk{
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../images/zTreeStandard.png");
}