@charset "UTF-8";
/*!
	登录注册相关
*/
.binding-title{
  height: auto;
  border-bottom: 2px solid #e6e6e6;
  margin: 0;
  padding: 20px 20px 10px;
}
.binding-title h3{
  font-size: 16px;
  color: #333;
}
.set-tab-content {
  width: 550px;
}
.head-img {
  position: absolute;
  top: 0;
  left: 15px;
  width: 150px;
}
.head-img .head {
  width: 148px;
  height: 148px;
  border: 1px solid #ccc;
  box-sizing: "content-box";
  display: block;
}
.head-img .head > img {
  width: 148px;
  height: 148px;
}
.head-tools {
  margin-left: 166px;
  line-height: 180%;
  color: #999;
}
.head-tools .btn {
  margin-top: 75px;
}
.pos-tools {
  width: 400px;
  float: right;
}
.pos-tools .form-group {
  width: 250px;
  margin-bottom: 0;
  margin-right: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.pos-tools .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.pos-tools .form-control-feedback {
  cursor: pointer;
  height: 35px;
  line-height: 35px;
}
.pos-tools .form-control-feedback i{
  font-size: 16px;
}

.role-container {
  position: relative;
  margin-right: 20px;
  border: 1px solid #f2f2f2;
  border-left: none;
  min-height: 500px;
}

.role-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 290px;
  height: 100%;
  border-right: 1px solid #f2f2f2;
}
.role-sidebar .list > li > a {
  position: relative;
  display: block;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
}
.role-sidebar .list > li > a > span {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 9;
}
.role-sidebar .list > li > a > span > i {
  padding: 0 6px;
}
.role-sidebar .list > li > a:hover > span {
  display: block;
}
.role-sidebar .list > li.current > a {
  color: #367cb9;
}
.role-sidebar .list > li.current > a:hover {
  text-decoration: none;
}
.role-main {
  margin-left: 290px;
  padding: 20px;
  min-height: 1200px;
}
.binding-wrap {
  margin: 0 20px;
  height: 100%;
  /*width: 550px;*/
}
.binding-item {
 /* border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  margin-bottom: 20px;*/
  padding: 15px 26px 20px 8px;
  border-bottom: 1px solid #ededed;
}
.binding-icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.binding-icon > a {
  display: block;
  position: relative;
  padding-left: 50px;
  font-size: 14px;
  font-weight: bold;
  line-height: 150%;
}
.binding-icon > a > i {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background-image: url(../images/icon_account.png);
  background-repeat: no-repeat;
}
.binding-icon > a.accout-2 > i {
  background-position: -60px 0;
}
.binding-icon > a.accout-3 > i {
  background-position: -120px 0;
}
.binding-icon > a.accout-4 > i {
  background-position: -180px 0;
}
.binding-icon > a.accout-5 > i {
  background-position: 0 -60px;
}
.binding-icon > a.accout-6 > i {
  background-position: -60px -60px;
}
.binding-icon > a.accout-7 > i {
  background-position: -120px -60px;
}
.binding-icon > a.accout-8 > i {
  background-position: -180px -60px;
}
.binding-tools {
  float: right;
  position: relative;
}
.binding-tools {
  display: none;
}
.binding-showtools {
  cursor: default;
}
.binding-showtools .binding-btn {
  display: none;
}
.binding-showtools .binding-tools {
  display: block;
}
.binding-user {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  padding: 10px;
  width: 280px;
  background-color: #F5F5F5;
}
.binding-hasimg {
  padding-left: 70px;
  position: relative;
}
.binding-hasimg img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9;
  width: 50px;
  height: 50px;
}
.binding-user-name {
  display: block;
  font-weight: bold;
  color: #333;
  font-size: 13px;
  line-height: 150%;
}
.binding-user-btn {
  display: block;
  margin-top: 8px;
}
.binding-user-btn .btn {
  margin-right: 5px;
}
.binding-user-link {
  padding-top: 10px;
  text-align: right;
}
.binding-user-link > a {
  color: #367cb9;
}
.binding-user-link > a:hover {
  text-decoration: underline;
}
.binding-tools .close {
  position: absolute;
  top: 7px;
  right: 10px;
}
.mail-list li {
  margin: 0 30px;
  position: relative;
}
.mail-list li > a {
  display: block;
  padding: 19px 20px 19px 32px;
  border-bottom: 1px solid #ccc;
  /*text-align: center;*/
  font: bold 18px Microsoft Yahei;
}
.mail-list li > a:hover {
  text-decoration: none;
}
.spop-content label {
  font-size: 14px;
}
.pub-icon{
  display: inline-block;
  background-image: url(../images/new-icon.png);
  background-repeat: no-repeat;
  position: relative;
}
.binding-title-icon{
  background-position: -320px -50px;
  height: 16px;
  width: 16px;
  margin-right: 3px;
  vertical-align: middle;
  top: -2px;
}
.binding-btn .btn{
  padding: 0;
  width: 117px;
  height: 40px;
  line-height: 40px;
}
.binding-btn .btn-primary{
  background: #4b73ec!important;
}
.mail-list .binding-btn{
  position: absolute;
  right: 70px;
  top: 19px;
}
.email-lx-icon{
  display: inline-block;
  width: 169px;
  height: 40px;
  background-image: url(../images/email-lx-icon.png);
  background-repeat: no-repeat;
  position: relative;
}
.gmail-icon{
  background-position: 0 0; 
}
.qEmail-icon{
  background-position: 0 -40px;
}
.sohumail-icon{
  background-position: 0 -80px;
}
.sinamail-icon{
  background-position: 0 -120px;
}
.outlookmail-icon{
  background-position: 0 -160px;
}
.foxmail-icon{
  background-position: 0 -200px;
}
.alimail-icon{
  background-position: 0 -240px;
}
.othermail-icon{
  background-position: 0 -280px;
}
.clear{clear: both;}
.error{border: 1px solid #f00 !important;}
.errors{display: none;}
.errors.active{display: block;}
.errors>span{color: #f00; display: inline-block; margin-top: 5px;}
.s-updownBg {
  background: url(../images/updown.png) no-repeat;
}
.s-user-set{
  background-position: -27px -110px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.s-menu-user{
  background-position: 0 -137px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.s-menu-user2{
  background-position: -17px -137px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.s-menu-pwd{
  background-position: 0 -154px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.s-menu-pwd2{
  background-position: -17px -154px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.s-menu-sub{
  background-position: 0 -171px;
  display: inline-block;
  width: 14px;
  height: 14px;
}
.s-menu-sub2{
  background-position: -17px -171px;
  display: inline-block;
  width: 14px;
  height: 14px;
}
.s-menu-lang{
  background-position: 0 -186px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.s-menu-lang2{
  background-position: -17px -186px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
input:focus,select:focus{outline: none;}
.user-box,.user-forms{padding-left: 29px;}

.user-box{padding-top: 27px; padding-bottom: 27px; border-bottom: 2px solid #e6e6e6;}
.user-box>label{margin-right: 87px;}
.user-box>label,.user-box>ul{float: left;}
.user-box>label>span{color: #333; font-size: 16px; padding-left: 10px;}
.user-box>ul>li{cursor: pointer; margin-right: 30px; float: left;}
.user-box>ul>li:last-child{margin-right: 0;}
.user-box>label>i,.user-box>label>span,.user-box>ul>li>i,.user-box>ul>li>span{vertical-align: middle;}
.user-box>ul>li>span{color: #333; padding-left: 5px;}
.user-box>ul>li.active>span{color: #4b73ec;}

.user-forms>form{padding-top: 20px; display: none;}
.user-forms>form.active{display: block;}
.form-info{margin-bottom: 10px;}
.form-info>label{width: 87px; padding-top: 14px;}
.form-info>label>i{padding-right: 3px; color: #f00;}
.form-info>label,.form-info>.box-input{float: left;}
.form-info>.box-input{width: 94%;}
.form-info>.box-input>input[readonly]{background-color: #eee; color: #aaa; cursor: not-allowed;}
.form-info>.box-input>input,.form-info>.box-input>select{border: 1px solid #ddd; padding: 9px 8px; color: #4b73ec; border-radius: 2px; width: 100%;}
.form-info>.box-input>select{padding: 7px 8px;}
.set-style>p{color: #333; font-weight: 700; margin-bottom: 20px;}
.set-style>ul>li{float: left; margin-right: 135px;}
.set-style>ul>li:last-child{margin-right: 0;}
.set-style>ul>li>input,.set-style>ul>li>label{vertical-align: middle; margin-top: 0;}