@charset "utf-8";
#container h1 {
  background-color: #fff;
  line-height: 2em;
  font-size: 120%;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  margin: 20px 0 50px;
  padding-left: 4%;
}
.pay-method {
  font-size: 150%;
  margin-bottom: 100px;
}
.pay-method li {
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 20px 6%;
}
.pay-method li dl {
  overflow: hidden;
}
.pay-method li dl dt {
  float: left;
  width: 50%;
}
.pay-method li dl dd {
  float: left;
  width: 45%;
  margin-left: 5%;
  padding-top: 10px;
}