<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>外贸通-crm任务详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320">

    <!-- build:css ../css/common.min.css -->
    <link href="../js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../js/lib/uniform/css/uniform.default.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <!-- endbuild -->

    <!-- build:css ../js/lib/bootstrap-datepicker/css/datepicker.min.css -->
    <link href="../js/lib/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet"/>
    <!-- endbuild -->

    <!-- build:css ../css/crm.min.css -->
    <link href="../css/crm.css" rel="stylesheet"/>
    <!-- endbuild -->
    <link href="../css/crm-task.css" rel="stylesheet"/>
    <link href="../css/task-detail.css" rel="stylesheet"/>
    <link href="../css/crm-task-new.css" rel="stylesheet" />
    <link href="../css/email.css" rel="stylesheet" />
</head>

<body class="overflow-auto" style="overflow-y: auto !important;background:#fff;">
<!-- 任务详情弹窗开始 -->
<div class="detailBox boxs" id="box-detail" ng-controller="task_detail">
    <div class="box-left" style="margin-top:0px;">
        <div class="button_group">
            <button type="button" class="btn btn-primary btn-lg btn-radial-out" id="taskChange">编辑任务</button>
            <button type="button" class="btn btn-primary btn-lg btn-radial-out" id="openDel">删除任务</button>
            <button type="button" class="btn btn-primary btn-lg btn-radial-out" id="completeTask">完成任务</button>
        </div>
        <div class="info_con">
            <div class="detail-title" style="width:60%;float:left;">
                <i class="i-status"></i>
                <span id="task-title" class="data-title" ng-model="taskTitle">{{taskTitle}}</span>
                <h5 ng-model="status">{{status}}</h5>
                <ul class="task_info">
                    <li>
                        <i></i> <span ng-model="startDate">&nbsp;{{startDate}}</span>
                    </li>
                    <li>
                        <i style="background-position: -16px 1px;"></i> <span>&nbsp;重复：{{repeat}}</span>&nbsp;&nbsp;&nbsp; <span>结束重复：{{end_repeat_time}}</span>
                    </li>
                    <li>
                        <i style="background-position: -34px 1px"></i> <span>&nbsp;负责人：</span> <span ng-model="principalName">{{principalName}}</span>
                    </li>
                </ul>
            </div>

            <div class="right_card" style="width:40%;float:left;height:90%;margin-top:1%;">
                <div class="sender-condition" style="margin-left:40px;margin-top:10px;">
                    <div class="sender-condition-img">
                        <span class="ellipsis sender-condition-name">{{card_title}}</span>
                    </div>
                    <div class="company-info">
                        <span class="s-status" style="margin-right:10px;">{{card_word}}</span>
                        <span class="ellipsis company-name name-blue" style="font-size:12px;color:#6A91FF;">{{customerName}}</span>
                    </div>
                    <div class="belong-yewuy" style="margin-top:15px;margin-bottom:-10px;">
                        <label>所属业务员：</label>
                        <span>{{principalName}}</span>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block btn-blockDetail">查看客户</button>
                    <div class="btn-group condition-cz-btn" role="group" style="margin-left:-129px;">
                        <button type="button" class="btn btn-default xiegenjin">写跟进</button>
                        <button type="button" class="btn btn-default fayoujian">发邮件</button>
                        <button type="button" class="btn btn-default come-go">往来邮件</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-info" style="width:96%;margin:0 auto;background: #fff;">
            <div class="info-group" style="padding-left:30px;">
                <i style="background-position: -52px 1px"></i>
                <label style="width:72px;">&nbsp;客户名称：</label>
                <span class="data-targetName">{{customerName}}</span>
            </div>
            <div class="info-group" style="padding-left:30px;">
                <i style="background-position: -55px -18px"></i>
                <label style="width:72px;">&nbsp;联系人：</label>
                <span class="data-accountName">{{principalName}}</span>
            </div>
            <div class="info-group" style="padding-left:30px;">
               <i style="background-position: -36px -18px"></i>
                <label style="width:72px;">&nbsp;提醒：</label>
                <span class="data-ed" >{{remindTime}}</span>
            </div>
            <div class="info-group" style="padding-left:30px;">
                <i style="background-position: 2px -18px"></i>
                <label style="width:72px;">&nbsp;创建日期：</label>
                <span class="data-st">{{createTime}}</span>
            </div>
        </div>
        <div class="detail-info" style="width:96%;margin:20px auto;background: #fff;">
            <div class="info-group" style="padding-left:35px;">
            <i style="position:absolute;left:30px;background-position: -17px -18px"></i>
                <label style="position:absolute;left:50px;">&nbsp;任务描述：</label>
                <div class="data-description task_desc" style="">
                    {{description}}
                </div>
            </div>
        </div>
    </div>
    <div class="box-right">
        <div class="sender-condition-style"></div>
    </div>
    <div class="modal" id="delModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">删除</h4>
                </div>
                <div class="modal-body">
                    <p>是否删除该任务？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg btn-radial-out delOne">确定</button>
                    <button type="button" class="btn btn-primary btn-lg btn-radial-out" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 任务详情弹窗结束 -->

<!-- 编辑任务弹窗开始 -->
<form class="form-horizontal" method="post" id="editForm" style="display:none;">
    <fieldset>
        <div class="form-group" style="margin-bottom: 20px;">
            <div class="col-xs-10" id="taskSub">
                <button class="btn btn-primary btn-lg btn-radial-out" id="taskBubSave" type="submit">保存</button>
                <button class="btn btn-default btn-lg btn-radial-out" id="taskBubCencle" type="button">取消</button>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-xs-2 control-label text-right"><span>*</span> 任务名称</label>
            <div class="col-xs-10">
                <input type="text" class="form-control input-sm" id="taskName" />
                <div class="errors"><span>请输入任务名称</span></div>
            </div>
        </div>
        <div class="form-group" id="customerShow" style="display:none;">
            <div class="top_show">
                <h1>选择客户</h1>
                <span>x</span>
            </div>
            <div class="input-group" style="width:95%;margin:20px auto;">
                <input type="text" id="focus_search" class="form-control input-lg" style="height:40px" placeholder="输入客户名称">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" style="height:40px" id="click_search" type="button">筛选</button>
                </span>
            </div>
            <div class="group">
                <select id="cus_group" class="form-control input-sm">
                    <option value="group">选择分组</option>
                </select>
            </div>
            <div class="contacts_con">
                <h3>最近选择客户</h3>
                <div class="recent_con">
                    <input type="radio" name="customer_name">
                    <label for="">Amanda grey</label>
                </div>
                <div class="recent_con">
                    <input type="radio" name="customer_name">
                    <label for="">Aron</label>
                </div>
            </div>
            <div class="bottom_show">
                <div class="btn_con">
                    <span>取消</span>
                    <button type="button" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
        <div class="form-group" id="emailNameShow" style="display:none">
            <label for="" class="col-xs-2 control-label text-right"><span>*</span> 邮件</label>
            <div class="col-xs-10">
                <input type="text" class="form-control input-sm" id="emailName" disabled/>
                <div class="errors"><span>请输入任务名称</span></div>
            </div>
        </div>
        <div class="form-group">
            <label for="customerName" class="col-xs-2 control-label text-right"><span>*</span> 客户名称</label>
            <div class="col-xs-10 downs customerdown">
                <div class="counters active">
                    <select class="form-control input-sm customerSearch" id="customer">
                        </select>
                    <!--<div class="customerList">-->
                        <!--<select id="customer" class="form-control input-sm"></select>-->
                    <!--</div>-->
                </div>
                <div class="errors" style="margin-top: 40px;"><span>请选择客户</span></div>
            </div>
        </div>
        <div class="form-group">
            <label for="head" class="col-xs-2 control-label text-right"><span>*</span> 任务负责人</label>
            <div class="col-xs-10 downs headdown">
                <div class="counters active">
                    <select id="principal" class="form-control input-sm"></select>
                </div>
                <div class="errors"><span>请选择至少一个任务负责人</span></div>
            </div>
        </div>
        <div class="form-group" style="margin-top:20px;">
            <label for="description" class="col-xs-2 control-label text-right"><span>*</span>开始时间</label>
            <div class="col-xs-5">
                <input class="form-control col-xs-5 datetime-picker" id="stratTime" ng-model="startDate">
            </div>
            <label for="description" class="col-xs-1 control-label text-right"><span>*</span>结束时间</label>
            <div class="col-xs-4">
                <input class="form-control col-xs-4 datetime-picker" id="endTime" ng-model="endDate">
            </div>
        </div>
        <div class="form-group">
            <label for="repeat" class="col-xs-2 control-label text-right"> 重复</label>
            <div class="col-xs-10 downs repeat_down">
                <div class="counters active">
                    <select id="repeat" class="form-control input-sm">
                        <option value="1">不重复</option>
                        <option value="2">每天</option>
                        <option value="3">每周</option>
                        <option value="4">每月</option>
                        <option value="5">每年</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group never">
            <label for="noRepeat" class="col-xs-2 control-label text-right"> 结束重复</label>
            <div class="col-xs-10 downs repeat_down">
                <div class="counters active">
                    <select id="noRepeat" class="form-control input-sm">
                        <option value="1">永不</option>
                        <option value="2">日期选择</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="time_hide col-xs-10 form-group" style="margin-left:83px;display:none;">
            <input class="form-control col-xs-10 datetime-picker" placeholder="请选择时间" id="chooseTime">
        </div>
        <div class="form-group" style="margin-top: 20px;">
            <label for="warn" class="col-xs-2 control-label text-right">提醒</label>
            <div class="col-xs-10">
                <select id="warn" class="form-control">
                    <option value="0">无</option>
                    <option value="1">事件发生时</option>
                    <option value="2">5分钟前</option>
                    <option value="3">15分钟前</option>
                    <option value="4">30分钟前</option>
                    <option value="5">1小时前</option>
                    <option value="6">2小时前</option>
                    <option value="7">1天前</option>
                    <option value="8">1周前</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-xs-2 control-label text-right">任务描述</label>
            <div class="col-xs-10">
                <textarea class="form-control col-xs-10" id="description" ng-model="description">
                    {{description}}
                </textarea>
            </div>
        </div>
    </fieldset>
</form>
<!-- 编辑任务弹窗结束 -->
<script src="../js/v.js"></script>

<script data-main="../js/pop-task-detail.js" src="../js/lib/require.min.js"></script>
</body>
<!-- END BODY -->
</html>