<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>外贸通-新建任务</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    <!-- <link href="../js/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" /> -->
    <!-- build:css ../css/common.min.css -->
    <link href="../js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../js/lib/uniform/css/uniform.default.css" rel="stylesheet" />
    <link href="../css/common.css" rel="stylesheet" />
    <!-- endbuild -->
    <!-- build:css ../js/lib/bootstrap-datepicker/css/datepicker.min.css -->
    <link href="../js/lib/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <!-- endbuild -->
    <!-- build:css ../css/crm.min.css -->
    <link href="../css/crm.css" rel="stylesheet" />
    <!-- endbuild -->
    <link href="../css/pop-task-add.css" rel="stylesheet" />
</head>

<body class="overflow-auto" style="overflow-y: auto !important;" ng-controller="task">
    <!-- 新建任务弹窗开始 -->
    <form class="form-horizontal" method="post" id="taskForm">
        <fieldset>
            <div class="form-group">
                <div class="col-xs-10">
                    <button ng-click="save()" type="button" class="btn btn-primary btn-lg">创建</button>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-2 control-label text-right"><span>*</span> 任务名称</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control input-sm" ng-model="task.name" />
                </div>
            </div>
            <div class="form-group" ng-show="isEml">
                <label for="" class="col-xs-2 control-label text-right"><span>*</span> 邮件</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control input-sm" ng-model="emailName" disabled/>
                </div>
            </div>
            <div class="form-group" ng-show="isCont">
                <label for="" class="col-xs-2 control-label text-right"><span>*</span> 联系人</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control input-sm" ng-model="contName" disabled/>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-2 control-label text-right"><span>*</span> 客户名称</label>
                <div class="col-xs-10 customerdown" data-toggle="modal" data-target="#customerModal">
                    <!--<div class="counters active">
                        <select class="form-control" ng-model="task.customer" ng-options="customer.name for customer in customerList">
                        </select>
                    </div>-->
                    <input placeholder="点击选择客户" type="text" class="form-control input-sm" ng-model="task.customer.name" readonly/>
                    <div class="errors" style="margin-top: 40px;"><span>请选择客户</span></div>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-2 control-label text-right"><span>*</span> 任务负责人</label>
                <div class="col-xs-10 downs headdown">
                    <div class="counters active">
                        <select class="form-control" ng-model="task.charger">
                            <option ng-repeat="charger in chargerList" value="{{charger}}" ng-selected="charger.id == task.charger.id">{{charger.name}}</option>
                        </select>
                    </div>
                    <div class="errors"><span>请选择至少一个任务负责人</span></div>
                </div>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <label for="" class="col-xs-2 control-label text-right"><span>*</span>开始时间</label>
                <div class="col-xs-4">
                    <input ng-model="task.startTime" class="form-control datetime-picker" readonly>
                </div>
                <label for="" class="col-xs-2 control-label text-right"><span>*</span>结束时间</label>
                <div class="col-xs-4">
                    <input ng-model="task.endTime" class="form-control datetime-picker" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-2 control-label text-right"> 重复</label>
                <div class="col-xs-10 downs repeat_down">
                    <div class="counters active">
                        <select class="form-control" ng-model="task.repeat">
                            <option ng-repeat="repeat in repeats" value="{{repeat.value}}" ng-selected="repeat.value==task.repeat">{{repeat.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group end-repeat" ng-show="task.repeat != 1">
                <label for="" class="col-xs-2 control-label text-right"> 结束重复</label>
                <div class="col-xs-10 downs repeat_down">
                    <div class="counters active">
                        <select class="form-control" ng-model="task.stopType">
                            <option ng-repeat="stopType in stopTypes" value="{{stopType.value}}" ng-selected="stopType.value==task.stopType">{{stopType.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="task.stopType==1 && task.repeat != 1">
                <label for="" class="col-xs-2 control-label text-right"></label>
                <div class="col-xs-10">
                    <input class="form-control datetime-picker" placeholder="请选择时间" ng-model="task.stopTime" readonly/>
                </div>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <label for="" class="col-xs-2 control-label text-right">提醒</label>
                <div class="col-xs-10">
                    <select class="form-control" ng-model="task.remind">
                        <option ng-repeat="remind in reminds" value="remind.value" ng-selected="remind.value==task.remind">{{remind.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-xs-2 control-label text-right">任务描述</label>
                <div class="col-xs-10">
                    <textarea class="form-control col-xs-10" ng-model="task.depict"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="modal fade" id="customerModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">选择客户</h4>
                </div>
                <div class="modal-body screen-body">
                    <div class="screen-input">
                        <input type="text" class="screen-input-name" placeholder="输入客户名称" ng-model="pageObj.keyword" />
                        <button class="screen-input-btn" type="button" ng-click="custList()">
                            <i class="s-updownBg btn-search"></i>
                            筛选
                        </button>
                    </div>
                    <div class="screen-choice">
                        <p class="screen-choiced" ng-click="showGroup = !showGroup">{{chiocedGroup.name}}</p>
                        <ul class="screen-list" ng-show="showGroup">
                            <li ng-repeat="group in customerGroupList" ng-click="chioceGroup(group)" data-id="{{group.id}}">{{group.name}}</li>
                        </ul>
                    </div>
                    <div class="customer-list">
                        <ul>
                            <li ng-repeat="customer in customerList"><input ng-click="changeStyle($event)" type="radio" name="customer" value="{{customer}}"><span>{{customer.name}}</span></li>
                        </ul>
                    </div>
                    <div class="page customer-page"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">提交</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 新建任务弹窗结束 -->
    <script src="../js/v.js"></script>
    <script data-main="../js/pop-task-add.js" src="../js/lib/require.min.js"></script>
</body>
<!-- END BODY -->

</html>