<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>Tradee</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- 防止页面缓存-->
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    <link href="http://console.waishangtongmail.com/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- build:css ../css/common.min.css -->
    <link href="../../../js/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../js/lib/uniform/css/uniform.default.css" rel="stylesheet" />
    <link href="../../../css/common.css" rel="stylesheet" />
    <link href="../../../css/email.css" rel="stylesheet" />
    <!-- endbuild -->
    <link rel="stylesheet" href="../css/approval.css">
</head>
<body style="overflow:hidden;background:#fff;" ng-controller="approvalAdd">
<div id="approvalNew">
    <div class="submir-btn">
        <button type="button" class="btn btn-primary btn-lg"  ng-click="saveApproval()">创建</button>
    </div>
    <div class="form-group">
        <label class="col-xs-1 control-label text-right label-word" style="margin-top:10px;">审批主题</label>
    </div>
    <div class="col-xs-10 ">
        <input type="text" class="form-control input-sm" ng-model="postData.subject">
    </div>
    <div class="form-group">
        <label class="col-xs-1 control-label text-right label-word" style="margin-top:28px;">审批人</label>
    </div>
    <div class="col-xs-10" id="salescontent">
        <div ng-show="hasApprover">
            <div ng-repeat=" checkedApprover in selectedApprovers" class="salesman">
                <span data-id="{{checkedApprover.id}}">{{checkedApprover.name}}</span>
                <span class="remove_sales" ng-click="removeSelectedApprover(checkedApprover,$event)"></span>
            </div>
        </div>
        <div class="add-salesman">
            <label class="add-info" ng-click="openAddApproversPopup()">
                <span></span>
                <span>添加审批人</span>
            </label>
            <div class="downs">
                <div class="dropdowns" ng-show="isShowAddApproversPopup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeAddApproversPopup()">
                            <i aria-hidden="true" class="drop-hide">X</i>
                        </button>
                        <h4 class="modal-title" id="addApproval">添加审批人</h4>
                    </div>
                    <div class="search-model">
                        <input type="text" class="drop-filter" ng-change="searchApprovers(keyword)" ng-model="keyword">
                        <i class="s-updownBg s-find" id="c-search-btn"></i>
                    </div>
                    <ul>
                        <li ng-repeat="approverItem in approverList" data-id="{{approverItem.id}}" ng-click="selectedApprover(approverItem,$event)"><span class="useName">{{approverItem.shortName}}</span><span>{{approverItem.name}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-1 control-label text-right label-word" style="margin-top:24px;">审批对象</label>
    </div>
    <div class="col-xs-10" style="margin-top:10px;">
        <div class="add-files">
            <span class="add-quotation data-code" data-id="3" data-code="quotation" data-toggle="modal" data-target="#myModal" ng-click="openAddApprovalBusinessPopup(3)">
                <i class="pub-icon list-bjd-icon"></i>
                <i>插入报价单</i>
            </span>
            <span class="add-PI data-code" data-code="pi" data-toggle="modal" data-target="#myModal" ng-click="openAddApprovalBusinessPopup(2)">
                <i class="pub-icon list-pi-icon"></i>
                <i class="word-left">插入PI</i>
            </span>
            <span class="add-model" data-toggle="modal" data-target="#myModal" ng-click="openAddApprovalBusinessPopup(4)">
                <i class="pub-icon list-model-icon"></i>
                <i class="word-left">插入订单</i>
            </span>
            <ul id="added-files" style="display: block;">
                <li ng-show = "postData.bizId>0">
                    <i class="pub-icon fujian-excl-iocn"></i>
                    <span class="no-active">{{postData.bizName}}</span>
                    <span class="removeLi" ng-click="removeApprovalBusiness()">删除</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-1 control-label text-right label-word" style="margin-top:45px;">备注</label>
    </div>
    <div class="col-xs-10" style="margin-top:28px;">
        <textarea class="form-control col-xs-10" ng-model="postData.remark" ></textarea>
        <div class="add-files">
            <span class="add-quotation data-code" ng-click="addAttachment()">
                <i class="pub-icon add-fujian-icon"></i>
                添加附件
            </span>
            <form class="form-horizontal" id="form_file" enctype="multipart/form-data" method="post">
                <input type="file" name="upFiles" id="up-files" multiple="multiple" onchange="angular.element(this).scope().choiceAttachment(this)" />
                <input type="hidden" name="file" value="upFiles" />
                <input type="hidden" name="dictFileUpType" value="1" />
            </form>
            <ul id="added-appendix" style="display: block;">
                <li ng-repeat="attachment in postData.approvalAttachmentEnters">
                    <i class="pub-icon fujian-excl-iocn"></i>
                    <span class="no-active">{{attachment.name}}</span>
                    <span class="removeLi" ng-click="removeAttachment(attachment,$event)">删除</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-type="" aria-hidden="false" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" ng-show="postData.bizType==2">选择PI</h4>
                <h4 class="modal-title" ng-show="postData.bizType==3">选择报价单</h4>
                <h4 class="modal-title" ng-show="postData.bizType==4">选择订单</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-show="postData.bizType==2">
                    <input type="text" class="form-control" placeholder="输入报价PI名称、PI编号" ng-model="inputKeyword">
                    <button type="button" class="btn btn-primary" ng-click="searApprovalBusiness(inputKeyword)">筛选</button>
                </div>
                <div class="form-group" ng-show="postData.bizType==3">
                    <input type="text" class="form-control" placeholder="输入报价单名称、报价单编号" ng-model="inputKeyword">
                    <button type="button" class="btn btn-primary" ng-click="searApprovalBusiness(inputKeyword)">筛选</button>
                </div>
                <div class="form-group" ng-show="postData.bizType==4">
                    <input type="text" class="form-control" placeholder="输入订单名称、订单编号" ng-model="inputKeyword">
                    <button type="button" class="btn btn-primary" ng-click="searApprovalBusiness(inputKeyword)">筛选</button>
                </div>
                <ul class="modelDwon new_style" style="display: block;">
                    <li ng-repeat="item in piResult.results" data-id="{{item.id}}">
                        <input type="radio" id="radio0" name="model-radio" value="{{item.id}}" ng-click="changeStyle($event)">&nbsp;
                        <label for="radio0" style="display: inline-block;margin-left: 5px;margin-top: 5px;">{{item.name}}</label>
                    </li>
                    <li ng-repeat="item in quotationResult.results" data-id="{{item.id}}">
                        <input type="radio" id="radio1" name="model-radio" value="{{item.id}}" ng-click="changeStyle($event)">&nbsp;
                        <label for="radio1" style="display: inline-block;margin-left: 5px;margin-top: 5px;">{{item.name}}</label>
                    </li>
                    <li ng-repeat="item in orderResult.results" data-id="{{item.id}}">
                        <input type="radio" id="radio2" name="model-radio" value="{{item.id}}"  ng-click="changeStyle($event)">&nbsp;
                        <label for="radio2" style="display: inline-block;margin-left: 5px;margin-top: 5px;">{{item.name}}</label>
                    </li>
                </ul>
                <ul id="treeDemoAdd" class="ztree" style="display: none;"></ul>

                <div class="page" style="display: block;margin-top:15px;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="quoteBtn" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../../js/v.js"></script>
<script data-main="../../../js/approval-add.js" src="../../../js/lib/require.min.js"></script>
</html>